<launch>
    <!-- 是否启用gazebo可视化 -->
    <arg name="gzclient" default="true"/>
    <!-- 是否使用ps2手柄 -->
    <arg name="use_joy_stick" default="true"/>
    <!-- 是否使用键盘控制 -->
    <arg name="use_telelop" default="false"/>
    <!-- 是否使用lmpc -->
    <arg name="use_lmpc" default="false"/>

    <!-- 启动gazebo世界 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find tracker_demo)/meshes/scout_empty.world"/>
        <arg name="gui" value="$(arg gzclient)"/>
        <arg name="use_sim_time" value="true"/>
    </include>

    <!-- 加载scout2 多机 -->
    <include file="$(find scout_gazebo_sim)/launch/spawn_scout_v2.launch"></include>

    <!-- ps2遥控器 -->
    <group if="$(arg use_joy_stick)">
        <include file="$(find joy_stick)/launch/run_joy_stick.launch"></include>
    </group>

    <!-- 键盘控制 -->
    <group if="$(arg use_telelop)">
        <node name="teleop_cmd_vel" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" launch-prefix="gnome-terminal --title=teleop_twist_keyboard -x">
            <remap from="/cmd_vel" to="/robot2/cmd_vel"/>
        </node>
    </group>

    <!-- 线性MPC轨迹跟踪器 -->
    <group if="$(arg use_lmpc)">/
        <include file="$(find mpc)/launch/test_mpc.launch"></include>
    </group>

    <!-- 非线性MPC轨迹跟踪器 -->
    <group unless="$(arg use_lmpc)">
        <node name="nmpc" pkg="mpc" type="local_planner.py" launch-prefix="gnome-terminal --title=nmpc_python -x" />
    </group>

    <!-- 轨迹跟踪demo -->
    <node name="tracker_state_machine_demo" pkg="tracker_demo" type="tracker_state_machine" output="screen"/>

    <!-- rviz可视化 -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find tracker_demo)/config/scout_multi.rviz" />

</launch>